    <!-- Left side column. contains the logo and sidebar -->
<style>
    .user-panel > .info {
        padding: 0px !important;
        line-height:0 !important;
        left:0px !important;
    }
    .pd-left-0 {
        padding-left: 0 !important;
    }
</style>
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel" style="border-bottom: 1px solid gray;">
            <div class="image" style="display:flex;justify-content:center;margin-bottom: 10px;">
                <img src="~/Content/adminlte/img/avatar5.png" class="img-circle" alt="User Image">
            </div>
            @*<div class="pull-left info"style="display: flex; justify-content: center; margin-bottom: 5px;">*@
                <p style="text-align:center;color:white" id="user-name"></p>
            @*</div>*@
        </div>
        <!-- search form -->
        @*<form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>*@
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        @*<li class="header">MAIN NAVIGATION</li>*@
        <li class="@Html.IsSelected(controller: "Home")">
            <a href="@Url.Action("Index", "Home")">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "Departments")">
            <a href="@Url.Action("Index", "Departments")">
                <i class="fa fa-files-o"></i> <span>Departments</span>
            </a>
        </li>
        <li class="@Html.IsSelected(controller: "DepartmentsUser")">
            <a href="@Url.Action("Index", "DepartmentsUser")">
                <i class="fa fa-files-o"></i> <span>Department Users</span>
                @*<span class="pull-right-container">
                    <small class="label pull-right bg-green">new</small>
                </span>*@
            </a>
        </li>

        <li class="@Html.IsSelected(controller: "RiskItem")">
            <a href="@Url.Action("Index", "RiskItem")">
                <i class="fa fa-table"></i> <span>Risk Category</span>
            </a>
        </li>

        <li class="@Html.IsSelected(controller: "Categories")">
            <a href="@Url.Action("Index", "Categories")">
                <i class="fa fa-th"></i> <span>Categories</span>
            </a>
        </li>

        @*audit tree view*@
        <li class="treeview">
            <a href="#">
                <i class="fa fa-share"></i> <span>Audit Level 1</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu pd-left-0" style="display: none; padding">
                <li class="@Html.IsSelected(controller: "AuditCategory")">
                    <a href="@Url.Action("Index", "AuditCategory")">
                        <span>Audit Category</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-share"></i>Audit Level 2
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu pd-left-0" style="display: none;">
                        <li class="@Html.IsSelected(controller: "AuditClass")">
                            <a href="@Url.Action("Index", "AuditClass")">    
                                <span>Audit Class</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-share"></i>Audit Level 3
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu pd-left-0" style="display: none;">
                                <li class="@Html.IsSelected(controller: "RiskItemCategory")">
                                    <a href="@Url.Action("Index", "RiskItemCategory")">
                                        <span>Risk Item Category</span>
                                    </a>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-share"></i> <span>Audit Level 4</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu pd-left-0" style="display: none;">
                                        <li class="@Html.IsSelected(controller: "RiskItemClass")">
                                            <a href="@Url.Action("Index", "RiskItemClass")">
                                                <span>Risk Item Class</span>
                                            </a>
                                        </li>
                                        <li class="treeview">
                                            <a href="#">
                                                <i class="fa fa-share"></i>Audit Level 5
                                                <span class="pull-right-container">
                                                    <i class="fa fa-angle-left pull-right"></i>
                                                </span>
                                            </a>
                                            <ul class="treeview-menu pd-left-0" style="display: none;">
                                                <li class="@Html.IsSelected(controller: "RiskItemSubClass")">
                                                    <a href="@Url.Action("Index", "RiskItemSubClass")">
                                                        <span>Risk Item Sub Class</span>
                                                    </a>
                                                </li>
                                                <li class="treeview">
                                                    <a href="#">
                                                        <i class="fa fa-share"></i>Audit Level 6
                                                        <span class="pull-right-container">
                                                            <i class="fa fa-angle-left pull-right"></i>
                                                        </span>
                                                    </a>
                                                    <ul class="treeview-menu pd-left-0" style="display: none;">
                                                        <li class="@Html.IsSelected(controller: "AuditRiskItem")">
                                                            <a href="@Url.Action("Index", "AuditRiskItem")">
                                                                <span>Risk Item</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        @*audit tree view*@

        @*
        <li class="@Html.IsSelected(controller: "AuditCategory")">
            <a href="@Url.Action("Index", "AuditCategory")">
                <i class="fa fa-th"></i> <span>Audit Category</span>
            </a>
        </li>

        <li class="@Html.IsSelected(controller: "AuditClass")">
            <a href="@Url.Action("Index", "AuditClass")">
                <i class="fa fa-th"></i> <span>Audit Class</span>
            </a>
        </li>

        <li class="@Html.IsSelected(controller: "RiskItemCategory")">
            <a href="@Url.Action("Index", "RiskItemCategory")">
                <i class="fa fa-th"></i> <span>Risk Item Category</span>
            </a>
        </li>

        <li class="@Html.IsSelected(controller: "RiskItemClass")">
            <a href="@Url.Action("Index", "RiskItemClass")">
                <i class="fa fa-th"></i> <span>Risk Item Class</span>
            </a>
        </li>

        <li class="@Html.IsSelected(controller: "RiskItemSubClass")">
            <a href="@Url.Action("Index", "RiskItemSubClass")">
                <i class="fa fa-th"></i> <span>Risk Item Sub Class</span>
            </a>
        </li>

        <li class="@Html.IsSelected(controller: "AuditRiskItem")">
            <a href="@Url.Action("Index", "AuditRiskItem")">
                <i class="fa fa-th"></i> <span>Risk Item</span>
            </a>
        </li>
        *@


    </ul>
    </section>
    <!-- /.sidebar -->
</aside>
