@using adminlte.Models;
@model GenericAuditViewModel<RiskItemCategory>

@{
    ViewBag.Title = "Audit Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .fa {
        font-size: 18px !important;
    }
</style>

<div class="content-wrapper">
    <section class="content-header">
        <span class="hidden" controllerName="RiskItemCategory"></span>
        <h1>
            RISK ITEM CATEGORIES
            <small>Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> RISK ITEM CATEGORIES</a></li>
            <li><a href="#">Details</a></li>
            <li class="active">Details</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="col-lg-10"></div>
                        <div class="col-lg-2">
                            <a class="btn btn-block btn-social btn-linkedin" style="text-align:right" onclick="OpenAddModal()">
                                <i class="fa fa-plus"></i> Create
                            </a>
                        </div>
                    </div>
                    <div class="box-body">
                        <table id="AuditCategory" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Risk Item Category Code</th>
                                    <th>Risk Item Category Name</th>
                                    <th>Audit Class</th>
                                    <th>Audit Category</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.AuditModel)
                                {
                                    string code = item.RiskItemCategoryCode;
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => code)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RiskItemCategoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AuditClass.AuditClassName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AuditClass.AuditCategory.AuditCategoryName)
                                        </td>
                                        <td>
                                            <i class="fa fa-fw fa-edit" style="color:cadetblue" onclick="edit('@code')"></i>
                                            <i class="fa fa-fw fa-trash" style="color:red" onclick="deleteAudit('@code')"></i>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <!-- Add/Edit Modal (similar to the one in the Department controller) -->
                    <div class="modal fade" id="modal-default">
                        <div class="modal-dialog" style="width: 500px !important">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="ModalTitle"></h4>
                                </div>
                                <div class="modal-body">
                                    <form id="Create">
                                        <div class="form-group">
                                            <label> Risk Item Category Code </label>
                                            <input type="text" name="AuditCode" id="AuditCode" class="form-control" placeholder="Risk Item Category Code">
                                        </div>
                                        <div class="form-group">
                                            <label> Risk Item Category Name </label>
                                            <input type="text" name="AuditName" id="AuditName" class="form-control" placeholder="Risk Item Category Name">
                                        </div>
                                        <div class="form-group">
                                            <label> Select Audit Class </label>
                                            <select class="form-control" name="AuditParentCode" id="AuditParentCode" placeholder="Select Audit Class">

                                                @foreach (var item in Model.ParentAuditDataModel)
                                                {
                                                    <option value="@item.Code">@item.Name</option>
                                                }
                                            </select>

                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="SaveData()">Save changes</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
{
    <script src="~/Content/adminlte/js/auditscipt.js"></script>
}


