    @model IEnumerable<adminlte.ViewModels.DepartmentUserViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .fa {
        font-size: 18px !important;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            DEPARTMENT USER
            <small>Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Department</a></li>
            <li><a href="#">Department Users</a></li>
            <li class="active">Details</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-header">
                        <div class="col-lg-10">

                        </div>
                        <div class="col-lg-2">
                            <a class="btn btn-block btn-social btn-linkedin" style="text-align:right" onclick="OpenAddModal()">
                                <i class="fa fa-plus"></i> Create
                            </a>
                        </div>

                        @* <div class="col-md-3 col-sm-4"><i class="fa fa-fw fa-plus" onclick="redirectToAddPage"></i> New Department</div>*@
                    </div>
                    <div class="box-body">
                        <table id="Department" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Department</th>
                                    <th>Action</th>
                                    @*<th>Platform(s)</th>
                                        <th>Engine version</th>
                                        <th>CSS grade</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DepartmentName)
                                        </td>
                                        <td>
                                            <i class="fa fa-fw fa-edit" style="color:cadetblue" onclick="editDepartment('@item.UserId')"></i>
                                            <i class="fa fa-fw fa-trash" style="color:red" onclick="deleteDepartment('@item.UserId')"></i>
                                            @*@Html.ActionLink("Edit", "Edit", new { id = item.DepartmentID }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentID })*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            @*<tfoot>
                                    <tr>
                                        <th>Rendering engine</th>
                                        <th>Browser</th>
                                        <th>Platform(s)</th>
                                        <th>Engine version</th>
                                        <th>CSS grade</th>
                                    </tr>
                                </tfoot>*@
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        });
        var isEdit = false;
        function editDepartment(data) {
            window.location.href = "/DepartmentsUser/Edit/"+data;
        }
        var deleteID = 0;
        function deleteDepartment(data) {
            deleteID = data;
            showPopup();
        }
        function OpenAddModal() {
            window.location.href = "/DepartmentsUser/Create"
        }
        function confirmAction() {
            //delete
            $.ajax({
                type: 'POST',
                url: '/DepartmentsUser/Delete',
                data: { userid: deleteID },
                success: function (response) {
                    if (response.success) {
                        toastr.success("User deleted Succesfully");
                        window.setTimeout(function () {
                            location.reload();
                        }, 1000);
                    }
                    else {
                        toastr.error("Unexpected error has occured");
                    }
                },
                error: function (xhr, status, error) {

                    toastr.error("Unexpected error has occured");
                }
            });
            closePopup();
        }
       
    </script>

}
