@model IEnumerable<adminlte.Models.RiskItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .fa {
        font-size: 18px !important;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            RISK CATEGORY
            <small>Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Risk Category</a></li>
            <li><a href="#">Details</a></li>
            <li class="active">Details</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-header">
                        <div class="col-lg-10">

                        </div>
                        <div class="col-lg-2">
                            <a class="btn btn-block btn-social btn-linkedin" style="text-align:right" onclick="OpenAddModal()">
                                <i class="fa fa-plus"></i> Create
                            </a>
                        </div>

                        @* <div class="col-md-3 col-sm-4"><i class="fa fa-fw fa-plus" onclick="redirectToAddPage"></i> New Department</div>*@
                    </div>
                    <div class="box-body">
                        <table id="Department" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Priority</th>
                                    <th>Action</th>
                                    @*<th>Platform(s)</th>
                                        <th>Engine version</th>
                                        <th>CSS grade</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RiskItemName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Priority)
                                        </td>
                                        <td>
                                            <i class="fa fa-fw fa-edit" style="color:cadetblue" onclick="editRiskItem(@item.RiskItemID)"></i>
                                            <i class="fa fa-fw fa-trash" style="color:red" onclick="deleteRiskItem(@item.RiskItemID)"></i>
                                            @*@Html.ActionLink("Edit", "Edit", new { id = item.DepartmentID }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentID })*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            @*<tfoot>
                                    <tr>
                                        <th>Rendering engine</th>
                                        <th>Browser</th>
                                        <th>Platform(s)</th>
                                        <th>Engine version</th>
                                        <th>CSS grade</th>
                                    </tr>
                                </tfoot>*@
                        </table>
                    </div>

                    <div class="modal fade" id="modal-default">
                        <div class="modal-dialog" style="width: 500px !important">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="ModalTitle">Add Risk Category</h4>
                                </div>
                                <div class="modal-body">
                                    <form id="Create">
                                        <div class="form-group">
                                            <input type="hidden" id="ID" value="">
                                            <label> Risk Category</label>
                                            <input type="text" name="RiskItemName" id="RiskItemName" class="form-control" placeholder="Risk Item Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="Priority">Priority</label>
                                            <select class="form-control" id="Priority" name="Priority" required>
                                                <option value="1" selected>High</option>
                                                <option value="2">Medium</option>
                                                <option value="3">Low</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="SaveData()">Save changes</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        });
        var isEdit = false;
        function SaveData() {
            debugger;
            if (isEdit == false) {
                var formData = {
                    RiskItemName: $('#RiskItemName').val(),
                    Priority: $("#Priority").val()
                };
                $.ajax({
                    type: 'POST',
                    url: '/RiskItem/Create',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            toastr.success("Risk Item Added Succesfully");
                            window.setTimeout(function () {
                                location.reload();
                            }, 1000);
                        }
                        else {

                            if (response.errorMesage == undefined) {
                                toastr.error("Unexpected error has occured");
                            }
                            else { toastr.error(response.errorMesage); }
                        }
                    },
                    error: function (xhr, status, error) {

                        toastr.error("Unexpected error has occured");
                    }
                });
            }
            else {
                var formData = {
                    RiskItemName: $('#RiskItemName').val(),
                    Priority: $("#Priority").val(),
                    RiskItemID: $("#ID").val()
                };
                $.ajax({
                    type: 'POST',
                    url: '/RiskItem/Edit',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            toastr.success("Risk Item Updated Succesfully");
                            window.setTimeout(function () {
                                location.reload();
                            }, 1000);
                        }
                        else {

                            if (response.errorMesage == undefined) {
                                toastr.error("Unexpected error has occured");
                            }
                            else { toastr.error(response.errorMesage); }
                        }
                    },
                    error: function (xhr, status, error) {

                        toastr.error("Unexpected error has occured");
                    }
                });
            }
        }
        function editRiskItem(data) {
            $.ajax({
                type: 'GET',
                url: '/RiskItem/Edit',
                data: { id: data },
                success: function (response) {
                    if (response.success) {
                        toastr.success("Risk Item data loaded Succesfully");
                        OpenEditModal(response.data);
                    }
                    else {
                        toastr.error("Unexpected error has occured");
                    }
                },
                error: function (xhr, status, error) {

                    toastr.error("Unexpected error has occured");
                }
            });
        }
        var deleteID = 0;
        function deleteRiskItem(data) {
            deleteID = data;
            showPopup();
        }
        function OpenAddModal() {
            $("#ModalTitle").val("Add");
            $("#RiskItemName").val("");
            $("#Priority").prop('checked', false);
            $('#modal-default').modal('show');
            isEdit = false;
        }
        function OpenEditModal(data) {
            $("#ModalTitle").val("Edit");
            $("#RiskItemName").val("");
            $("#Priority").prop('checked', false);
            $("#RiskItemName").val(data.RiskItemName);
            $("#Priority").val(data.Priority);
            $("#ID").val(data.RiskItemID);
            $('#modal-default').modal('show');
            isEdit = true;
        }
        function confirmAction() {
           //delete
            $.ajax({
                type: 'POST',
                url: '/RiskItem/Delete',
                data: { id: deleteID },
                success: function (response) {
                    if (response.success) {
                        toastr.success("Risk Item delete Succesfully");
                        window.setTimeout(function () {
                            location.reload();
                        }, 1000);
                    }
                    else {
                        toastr.error("Unexpected error has occured");
                    }
                },
                error: function (xhr, status, error) {

                    toastr.error("Unexpected error has occured");
                }
            });
            closePopup();
        }
    </script>

}
