@using adminlte.Models;
@model GenericAuditViewModel<AuditRiskItem>

@{
    ViewBag.Title = "Audit Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var primaryDep = ViewBag.PrimaryDepartments;
    var secondaryDep = ViewBag.SecondaryDepartments;
}

<style>
    .fa {
        font-size: 18px !important;
    }
</style>

<div class="content-wrapper">
    <section class="content-header">
        <span class="hidden" controllerName="AuditRiskItem"></span>
        <h1>
            RISK ITEM
            <small>Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> RISK ITEM</a></li>
            <li><a href="#">Details</a></li>
            <li class="active">Details</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="col-lg-10"></div>
                        <div class="col-lg-2">
                            <a class="btn btn-block btn-social btn-linkedin" style="text-align:right" onclick="OpenAddModal()">
                                <i class="fa fa-plus"></i> Create
                            </a>
                        </div>
                    </div>
                    <div class="box-body">
                        <table id="AuditCategory" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Risk Item Code</th>
                                    <th>Risk Item Name</th>
                                    <th>Risk Item Sub Class</th>
                                    <th>Risk Item Class</th>
                                    <th>Risk Item Category</th>
                                    <th>Audit Class</th>
                                    <th>Audit Category</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.AuditModel)
                                {
                                    string code = item.RiskItemCode;
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => code)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RiskItemName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RiskItemSubClass.RiskItemSubClassName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RiskItemSubClass.RiskItemClass.RiskItemClassName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RiskItemSubClass.RiskItemClass.RiskItemCategory.RiskItemCategoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RiskItemSubClass.RiskItemClass.RiskItemCategory.AuditClass.AuditClassName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RiskItemSubClass.RiskItemClass.RiskItemCategory.AuditClass.AuditCategory.AuditCategoryName)
                                        </td>
                                        <td>
                                            <i class="fa fa-fw fa-edit" style="color:cadetblue" onclick="edit('@code')"></i>
                                            <i class="fa fa-fw fa-trash" style="color:red" onclick="deleteAudit('@code')"></i>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <!-- Add/Edit Modal (similar to the one in the Department controller) -->
                    <div class="modal fade" id="modal-default">
                        <div class="modal-dialog" style="width: 500px !important">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="ModalTitle"></h4>
                                </div>
                                <div class="modal-body">
                                    <form id="Create">
                                        <div class="form-group">
                                            <label> Audit Code </label>
                                            <input type="text" name="AuditCode" id="AuditCode" class="form-control" placeholder="Risk Item Code">
                                        </div>
                                        <div class="form-group">
                                            <label> Audit Name </label>
                                            <input type="text" name="AuditName" id="AuditName" class="form-control" placeholder="Risk Item Name">
                                        </div>
                                        <div class="form-group">
                                            <label> Audit Parent Code </label>
                                            <select class="form-control" name="AuditParentCode" id="AuditParentCode" placeholder="">
                                                <option value="">---Select a parent---</option>
                                                @foreach (var item in Model.ParentAuditDataModel)
                                                {
                                                    <option value="@item.Code">@item.Name</option>
                                                }
                                            </select>

                                        </div>
                                        <div class="form-group">
                                            <label> Audit Primary Department </label>
                                                <select class="form-control" name="AuditPrimaryDepartment" id="AuditPrimaryDepartment" placeholder="">
                                                    
                                                    @foreach (var item in primaryDep)
                                                    {
                                                        <option value="@item.DepartmentID">@item.DepartmentName</option>
                                                    }
                                                </select>

                                        </div>
                                        <div class="form-group">
                                            <label> Audit Secondary Department </label>
                                                <select class="form-control select2" multiple="multiple" style="width: 100%;" name="AuditSecondaryDepartment" id="AuditSecondaryDepartment" >
                                                    @*<option value="">---Select a department---</option>*@
                                                    @foreach (var item in secondaryDep)
                                                    {
                                                        <option value="@item.DepartmentID">@item.DepartmentName</option>
                                                    }
                                                </select>

                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="SaveDataAuditRiskItem()">Save changes</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
{
    <script src="~/Content/adminlte/js/auditscipt.js"></script>
    <script>
        $(document).ready(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
        });
    </script>
}


